.dropdown {
    width: 312px;
    border: solid 2px var(--cinza);
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: var(--semibold);
    font-family: var(--font);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../../public/images/icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 276px;
    background-position-y: center;
}