.items {
    margin: 60px 10rem 100px 10rem;
}

.filter__dropdown {
    display: flex;
}

.filter__titulo {
    color: var(--cinza);
    font-weight: var(--semibold);
}

.items__category {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.filter__dropdown {
    display: flex;
    gap: 24px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter__button {
    width: 262px;
    height: 48px;
    border: 2px solid var(--cinza);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    font-weight: var(--semibold);
    color: #141718;
}

/* ordernar */

.organizar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn__organizar {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: var(--semibold);
    font-size: 1rem;
}

.organizar__block {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}