.filter__dropdown {
    display: flex;
}

.filter__titulo {
    color: var(--cinza);
    font-weight: var(--semibold);
}

.items__category {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.filter__dropdown {
    display: flex;
    gap: 24px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown__label {
    cursor: pointer;
    position: relative;
}

.dropdown__input {
    opacity: 0;
    width: 0;
    height: 0; 
}

.dropdown__btn {
    width: 262px;
    height: 48px;
    border: 2px solid var(--cinza);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-weight: var(--semibold);
    color: #141718;
}

.dropdown__list {
    position: absolute;
    top: 70px;
    z-index: 1000;
    width: fit-content;
    border-radius: 8px;
    z-index: 100;
}

.dropdown__list li {
    list-style: none;
    background-color: #fff;
    width: 100%;
    padding: 12px 32px;
}

.dropdown__list li:hover {
    background-color: var(--primary);
    transition: 0.5s;
    color: #fff;
}

.dropdown__list a {
    text-decoration: none;
    color: var(--primary);
}

/* ordernar */

.organizar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn__organizar {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: var(--semibold);
    font-size: 1rem;
}

.organizar__block {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}