.wishlist {
    margin: 0 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;
}

.table {
    width: 100%;
}

.table__title,
.table__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table__title {
    font-size: 14px;
    color: #6C7275;
    font-weight: var(--regular);
    width: 100%;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: #E8ECEF solid 1px;
}

.table__items {
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: #E8ECEF solid 1px;
}

.table__product {
    display: flex;
    align-items: center;
    gap: 16px;
}