.product {
    width: 100%;
    min-height: 349px;
    display: flex;
}

.product__img {
    background-color: #F3F5F7;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.product__img img {
    object-fit: cover;
    width: 70%;
    height: min-content;
}

/* Product texts */
.product__sale {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px 14px;
    background-color: var(--verde);
    width: max-content;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-weight: var(--bold);
    margin: 16px;
}

.prodcut__price-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.product__price {
    font-size: 14px;
    font-weight: var(--semibold);
    color: var(--primary);
}

.product__price-dash {
    color: var(--cinza);
    font-weight: var(--regular);
    text-decoration: line-through;
}

.product__texts {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 50%;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product__info-p {
    text-align: justify;
    hyphens: auto; /* Hifenização automática */
    color: var(--cinza);
    font-size: 14px;
}

.product__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--primary);
    font-weight: var(--semibold);
}

.product__title h3 {
    font-size: 1rem;
    font-weight: var(--semibold);
}

.product__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn__bag {
    background-color: var(--primary);
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 16px 0;
    cursor: pointer;
}