h1 {
    font-size: 54px;
    margin: 80px 0;
    text-align: center;
}

.account {
    height: 582px;
    margin: 0 160px 80px 160px ;
    display: flex;
}

.account__container {
    background-color: #F3F5F7;
    width: 15vw;
    height: fit-content;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.account__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__img h2 {
    font-size: 20px;
    color: var(--primary);
    font-weight: var(--semibold);
}

.account__img-holder {
    position: relative;
    width: fit-content;
}

.account__img-holder img {
    width: 80px;
    height: 80px;
}

.account__img-icon {
    width: 30px;
    height: 30px;
    background-color: #141718;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F3F5F7 solid 1.5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.account__img-icon img {
    width: 16px;
    height: 16px;
}

.account__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.account__settings ul {
    width: 100%;
}

.account__settings li {
    width: 100%;
    list-style: none;
    padding: 8px 0;
    text-align: left;
    font-size: 16px;
    font-weight: var(--semibold);
    color: #6C7275;
}

.account__settings .selected {
    color: var(--primary);
    border-bottom: solid var(--primary) 1px;
}

.account__holder {
    width: 100%;
}