.login {
    background-image: url('../../../public/images/Image-Placeholder.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.login__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login__title {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: var(--semibold);
}

.login__subtitle {
    font-size: 1.125;
    color: var(--primary);
    font-weight: var(--regular);
}

.login__email {
    border-bottom: 1px solid #6c72757a;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
}

.login__email input {
    background: transparent;
    width: 400px;
    font-size: 1rem;
    color: #6C7275;
}

.login__btn {
    background: transparent;
    color: #6C7275;
    font-weight: var(--regular);
    font-size: 1rem;
}
