/* Header */
.header {
    margin: 0 10rem;
    position: relative;
}

.header__image {
    width: 100%;
}

.header__texto-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: var(--semibold);
    color: var(--cinza);
}

.header__texto-negrito {
    color: var(--primary);
}

.header__texto-titulo {
    font-size: 3.375rem;
    font-weight: var(--semibold);
}

.header__texto-subtitulo {
    font-size: 1.25rem;
    color: #121212;
    font-weight: var(--regular);
}

.header__texto {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 30%;
    left: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__image {
    width: 100%;
    height: auto;
}
