.likebtn {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    cursor: pointer;
    position: relative;
    padding: 0px 0px;
}

.likebtn img {
    width: 20px;
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    right: auto;
    transition: transform 0.3s ease-in-out;
}

.likebtn img:hover {
    transform: scale(1.1) translateY(-50%); 
}