@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --primary: #000000;
  --cinza: #6C7275;
  --azul: #377DFF;
  --verde: #38CB89;
  --laranja: #FFAB00;
  --vermelho: #FF5630;
  --branco-neutro: #F3F5F7;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  font-size: 14px;
  width: 100vw;
}